global_defs {
    router_id {{ core_id }}
    vrrp_version 2
    vrrp_garp_master_delay 1
    vrrp_garp_master_repeat 5
    vrrp_gna_interval 1
    script_user root
    enable_script_security
}

vrrp_script check_ens38 {
    script "/bin/grep -q 'up' /sys/class/net/ens38/operstate"
    interval 2
    weight -20
    fall 2
    rise 2
}

vrrp_script check_ens40 {
    script "/bin/grep -q 'up' /sys/class/net/ens40/operstate"
    interval 2
    weight -20
    fall 2
    rise 2
}

{% for vlan in vlans %}
vrrp_instance VI_VLAN{{ vlan.id }} {
    state {{ core_state }}
    interface br{{ vlan.id }}
    virtual_router_id {{ vlan.vrid }}
    priority {{ core_priority }}
    advert_int 1
    {% if core_state == 'BACKUP' %}
    nopreempt
    {% endif %}

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

    unicast_src_ip {{ core_unicast_src_ip }}
    unicast_peer {
        {{ core_unicast_peer_ip }}
    }

    track_interface {
        br{{ vlan.id }}
        ens38
        ens40
    }
    track_script {
        check_ens38
        check_ens40
    }

    # NOTA: Las VIPs (vlan.vip) NO se asignan aqui.
    # Las VIPs son gestionadas UNICAMENTE por pfSense via CARP.
}
{% endfor %}