# ============================================================================
# Configuracion FRR para ISP-CREATE (solo NAT, sin BGP)
# ============================================================================
# Rutas estaticas - no se usa BGP
# ============================================================================

frr version 9.0
frr defaults traditional
!
hostname {{ hostname | default('ISP-CREATE') }}
!
log file /var/log/frr/{{ hostname | default('ISP-CREATE') }}.log
log stdout
log syslog
!
! Sin BGP - rutas estaticas en pfSense
!
ip forwarding
!
line vty
!